<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SmartPath Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">SmartPath</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/sensors">Show Sensor Data</a>
            <a href="/control">Control Car</a>
            <a href="/line">Line Tracking</a>
            <a href="/obstacle">Obstacle Avoidance</a>
            <a href="/history">History></a>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>

